<div class="services_body">
    <h1>Services</h1>
    <p class="services_body_info">St. Luke’s Plastics & Reconstructive Surgery is skilled at repairing wounds and skin affected by injury, infection, disease or surgical treatments. From skin cancer removal to reduction of scars, our skilled surgeons offer several techniques to restore
        the health and appearance of your skin.</p>

    <div class="services_body_services_details">

        <!-- Div 1 -->
        <div class="services_body_services_details_face_div">
            <div class="services_body_services_details_face_div_header">
                <div class="services_body_services_details_face_div_header_head">
                    <p>FACE</p>
                    <i class="fa-solid fa-angle-down" id="face_drop_button"></i>
                </div>
                <div class="services_body_services_details_face_div_header_content">
                    <p class="services_body_services_details_face_div_header_content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae</p>
                    <a href="#">See More</a>
                </div>
            </div>
        </div>



        <div class="services_body_services_details_body_div">
            <div class="services_body_services_details_body_div_header">
                <div class="services_body_services_details_body_div_header_head">
                    <p>BODY</p>
                    <i class="fa-solid fa-angle-down" id="body_drop_button"></i>
                </div>
                <div class="services_body_services_details_body_div_header_content">
                    <p class="services_body_services_details_body_div_header_content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae</p>
                    <a href="#">See More</a>
                </div>
            </div>
        </div>



    </div>
</div>