<div class="contact_body_img">

</div>

<div class="contact_body">
    <p class="contact_body_page_info">SLUHN Home ? Plastic & Reconstructive Surgery ? <u style="color: #5B99C2;">Contact Us</u></p>

    <div class="contact_body_contact_deatils_div">

        <h1>Contact Us</h1>

        <p class="contact_body_contact_deatils_div_p">Please provide any information that would be relevant to your interest and times available for us to contact you.</p>


        <div class="contact_body_contact_deatils_div_name_email">
            <div class="contact_body_contact_deatils_div_name_email_name_div">
                <label for="name">Your Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="contact_body_contact_deatils_div_name_email_email_div">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
        </div>


        <div class="contact_body_contact_deatils_div_phone_service_of_interest">
            <div class="contact_body_contact_deatils_div_phone_service_of_interest_phone_div">
                <label for="number">Phone Number</label>
                <input type="tel" name="number" id="number">
            </div>
            <div class="contact_body_contact_deatils_div_phone_service_of_interest_service_div">
                <label for="service">Service</label>
                <select id="cars" name="service">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
        </div>

        <div class="contact_body_contact_deatils_div_additional_info">
            <label for="add_info">Additional Information</label>
            <textarea></textarea>
        </div>

        <button class="contact_body_contact_deatils_div_submit_button">Submit</button>

        <hr>

        <div class="contact_body_contact_deatils_div_location_general">
            <div class="contact_body_contact_deatils_div_location_general_contact">
                <p><b>Plastics Contact </b> <br><br>1-888-555-1212<br> Info @SLPlastics.org</p>
            </div>
            <div class="contact_body_contact_deatils_div_location_general_general_details">
                <p><b>General  </b><br><br>1-800-StLukes<br> infolink@sluhn.org
                </p>
            </div>
        </div>
    </div>

</div>