<!-- <div id="docSurgeryImage">
    
</div> -->


<div id="carouselExampleControls" class="carousel slide carouselSlider" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://thumbs.dreamstime.com/z/christmas-preparations-cheerful-snowmen-blue-festive-stage-three-standing-next-to-santa-claus-ready-celebrate-203364704.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://thumbs.dreamstime.com/z/christmas-preparations-cheerful-snowmen-blue-festive-stage-three-standing-next-to-santa-claus-ready-celebrate-203364704.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://thumbs.dreamstime.com/z/christmas-preparations-cheerful-snowmen-blue-festive-stage-three-standing-next-to-santa-claus-ready-celebrate-203364704.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>




<div id="containerHeader">
    <div id="headerDiv">
        <a id="createAccount"><i class="fa-solid fa-user"></i> &nbsp;Create Account |</a>
        <a id="createAccount">Sign In |<i class="fa-solid fa-question"></i></a>
    </div>

    <div id="header">
        <img id="headerLogo" src="../../images/header-logo.png">
        <img id="menuIcon" src="../../images/menuIcon.png">

    </div>

    <div id="aboutDivBelowHeader">
        <div id="abtDiv11">
            <p id="plasticRe">Plastic & Reconstructive Surgery &nbsp; &nbsp;|</p>
            <p id="abt">About</p>
            <p id="meetTheTeamPara">Meet The Team</p>
            <p id="services">Services</p>
            <p id="locationPara">Location</p>
            <p id="gallery">Gallery</p>
            <p id="contactPara">Contact Us</p>

        </div>

    </div>

    <div id="servicesDropDiv">
        <p id="whiteP">Face</p>
        <p id="whiteP">Breast</p>
        <p id="whiteP">Body</p>
        <p id="whiteP">Non Surgical</p>
        <p id="whiteP">Pediatric Plastic Surgery</p>
    </div>
    <div id="galleryDropDiv">
        <p id="whiteP">Before & After</p>
        <p id="whiteP">Patient Stories</p>
    </div>


</div>


<div class="homeDiv">

    <br>
    <br>
    <p>SLUHN Home ? Plastics & Reconstructive Surgery ? <u id="meetTheTeam">Meet The Team</u></p>
    <br>


    <h1>Meet The Team</h1>
    <hr>
    <br>
    <p class="homeDiv_paraBelowMeetTeam">St. Luke’s Plastics & Reconstructive Surgery is skilled at repairing wounds and skin affected by injury, infection, disease or surgical treatments. From skin cancer removal to reduction of scars, our skilled surgeons offer several techniques to restore
        the health and appearance of your skin.</p>
    <br>

    <h1>Surgical</h1>
    <hr>
    <br>
    <div class="container">
        <img src="../../images/team.png" width="200px" id="imgTeam">
        <div class="bottom-left">

            Jonathan S. Lam, MD Plastic Surgery
        </div>
    </div>
    <br>



    <div id="docDetails">
        <div id="docImageForIntro">
            <img src="../../images/team-profile.png" id="docBigId">

        </div>
        <div id="docImageIntroText">
            <div id="docImageIntroText_Div">
                <h1>Jonathan S. Lam, MD</h1>
                <h3>Plastic Surgery</h3>
                <br>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, voluptas cupiditate hic, ad iure rerum ipsa saepe totam beatae, soluta dolores? Tempora voluptatibus dignissimos ut. Doloribus earum quaerat repellat assumenda?</p>
            </div>
            <button id="seeMoreBtn">See More &nbsp; <i class="fa-solid fa-caret-right"></i></button>
        </div>

    </div>

    <br>




    <div style="overflow: hidden;">

        <div class="container1">
            <img src="../../images/team.png" width="200px" id="imgTeam">
            <div class="bottom-left">

                Jonathan S. Lam, MD Plastic Surgery
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="container2">
            <img src="../../images/team.png" width="200px" id="imgTeam">
            <div class="bottom-left">

                Jonathan S. Lam, MD Plastic Surgery
            </div>
        </div>


    </div>




    <br>
    <br>

    <h1>Non-Surgical</h1>
    <hr>
    <br>
    <div style="overflow: hidden;">

        <div class="container1">
            <img src="../../images/team.png" width="200px" id="imgTeam">
            <div class="bottom-left">

                Jonathan S. Lam, MD Plastic Surgery
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="container2">
            <img src="../../images/team.png" width="200px" id="imgTeam">
            <div class="bottom-left">

                Jonathan S. Lam, MD Plastic Surgery
            </div>
        </div>


    </div>
    <br>
    <br>




</div>
<br>


</div>

<div id="bottomDiv">

    <div id="compDetails">
        <h1>StLukes</h1>
        <p>Plastic & Reconstructive Surgery<br><br> Copyright 2021<br> All rights reserved</p>
    </div>

    <div id="aboutDiv">
        <div id="aboutDiv_1">
            <h4>About</h4>
            <h4>Meet the Team</h4>
            <h4>Services</h4>
        </div>

        <div id="aboutDiv_2">
            <h4>Location</h4>
            <h4>Gallery</h4>
            <h4>Contact Us</h4>
        </div>
    </div>

</div>
<hr style="padding: 0;margin: 0;color: whitesmoke;border: 1px solid whitesmoke;">

<div id="fDiv">
    <p><u>EOE</u></p>
    <p><u>Privacy</u></p>
    <p><u>Terms of Use</u></p>
    <p><u>Public Notice</u></p>
</div>