
<div class="meet_team__header">
    <div class="meet_team__header__nav-div">
        <div class="meet_team__header__nav-div-left-row">
            <div>
                <i class="fa-solid fa-bars"></i>
                <p>Menu</p>
            </div>
            <img src="../../images/header-logo-new.jpg" alt="header-logo">

        </div>
        <div class="meet_team__header__nav-div-right-row">
            <div>
                <i class="fa-solid fa-dollar-sign"></i>
                <p>Pay a bill</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <p>Make a gift</p>
            </div>
            <div>
                <i class="fa-solid fa-circle-user"></i>
                <p>Login</p>
            </div>
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>


    <div class="meet_team__header__page-heading">
        <h4>Plastic & Reconstructive Surgery</h4>
    </div>

    <div class="meet_team__header__nav-row">
        <p>meet_team Us</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>

</div>