<div class="location_footer">



    <div class="location_footer_comp_info">


        <img src="../../images/SLUHN_Logo.svg" alt="company_logo">



    </div>



    <div class="location_footer_about">

        <p>About</p>

        <p>Meet The Team</p>

        <p>Services</p>

        <p>Locations</p>

        <p>Gallery</p>

        <p>Contact Us</p>

    </div>



</div>

<div class="location_footer_bottom_links">

    <p>EOE</p>

    <p>Privacy</p>

    <p>Terms of Use</p>

    <p>Public Notice</p>

</div>