<div class="footer">
    <div class="footer_info">
        <img src="../../images/header-logo.png">
        <br>

        <p>Plastic & Reconstructive Surgery</p>
        <br>
        <p>Copyright2021</p>
        <p>All rights reserved</p>
    </div>

    <div class="footer_about">
        <p>About</p>
        <p>Meet The Team</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
</div>
<div class="fDiv">
    <p><u>EOE</u></p>
    <p><u>Privacy</u></p>
    <p><u>Terms of Use</u></p>
    <p><u>Public Notice</u></p>
</div>