<div class="experience">
    <h1>Experience</h1>
    <hr>
    <div class="experience_log">
        <h3>Medical School</h3>
        <p>Boston University School of Medicine, 1992</p>
        <h3>Medical School</h3>
        <p>Temple University School of Dentistry, 1988 </p>
        <h3>Internship</h3>
        <p>Lehigh Valley Health Network, 1992 - 1993 </p>
        <h3>Residency</h3>
        <p>Lehigh Valley Health Network, 1993 - 1995</p>
        <h3>Residency</h3>
        <p>Lehigh Valley Health Network, 1997 - 2000 </p>
        <h3>Residency</h3>
        <p>West Virginia University Charleston Medical Center, 1988 - 1989 </p>
        </p>
    </div>
    <br>
    <br>
</div>