<div class="header_container_div">

    <div class="header_container_div_user_login_sign_in">
        <i class="fa-solid fa-user"></i>
        <p>Create Account|</p>
        <p>Sign In| </p>
        <i class="fa-solid fa-question"></i>
    </div>

    <div class="header_container_div_company_logo_div">
        <img src="../../images/header-logo.png">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="header_container_div_header_about">
        <p>Plastic & Reconstructive Surgery &nbsp; |</p>
        <p>About</p>
        <p>Meet the Team</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>



</div>