<div class="details_div">
    <br>
    <br>
    <h1>JonathanS.Lam, MD</h1>
    <h3>Plastic Surgery</h3>
    <br>
    <h1>About</h1>
    <hr>
    <p>Bio Blurb. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Excepteur sint occaecat cupidatat.</p>
    <br>
    <br>
    <br>
    <br>

</div>


<div class="grid_div_for_iframe">
    <iframe width="60%" height="500px" id="iframe" src="https://www.youtube.com/embed/6S_z6NEQ4y8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="grid_div_for_iframe_imageHolderDiv">

        <i class="fa-solid fa-play" id="iPlayBtn"></i>

    </div>


    <div class="grid_div_for_iframe_docIntroDataText">
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae”</p>
    </div>
</div>