<div class="team__header">
    <div class="team__header__sign-in">
        <i class="fa-solid fa-circle-user"></i>
        <p>Create Account |</p>
        <p>Sign In |</p>
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <div class="team__header__company-logo">
        <img src="../../images/header-logo.png" alt="">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="team__header__about-row">
        <p>Plastic & Roconstructive Surgery &nbsp; &nbsp; &nbsp;|</p>
        <p>About</p>
        <p>Meet the Team</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
</div>