<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Our Services</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <main id="main">

        @@include('../../Components/our_services/our_services.html')
    </main>

    <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>

</html>