<div class="our__services__body">

    <div class="our__services__body-background-image">
        <h1 class="our__services__body-background-image-heading-one">Our Services:</h1>
        <h1 class="our__services__body-background-image-heading-two">Face</h1>
        <button class="our__services__body-background-image-button">Request your consultation</button>
    </div>

    <div class="our__services__body-page-location">
        <h1>What Do We Offer?</h1>
        <div>
            <p>Our Services</p>
            <p>/</p>
            <p><b>Face</b></p>
        </div>
    </div>

    <div class="our__services__body-offer-services">
        <div class="our__services__body-offer-services-details">
            <p class="our__services__body-offer-services-details-p">
                St. Luke's Plastic & Reconstructive Surgery is committed to helping you put your best face
                forward.Among the cosmetic procedures we offer are:
            </p>

            <!-- One -->

            <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Brow Life</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

            <!-- Two -->

            <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Chin Surgery (Genioplasty/Mentoplasty)</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

             <!-- Three -->

             <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Ear Reshaping (Otoplasty)</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

             <!-- Four -->

             <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Eyelid (Blepharoplasty)</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

             <!-- Five -->

             <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Facelift (Rhytidectomy) and Necklift</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

             <!-- Six -->

             <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Nose Reshaping (Rhinoplasty)</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

             <!-- Two -->

             <div class="our__services__body-offer-services-details-div">
                <div class="our__services__body-offer-services-details-div-heading">
                    <i class="fa-solid fa-circle-plus showBtnForOurServices"></i>
                    <h1>Craniofacial & Pediatric Surgery</h1>
                </div>
                <div class="our__services__body-offer-services-details-div-sub-heading">
                    <p>Used to reduce deep creases in the forehead and reposition the brows to a more
                        youthful position. It usually requires local anesthesia or sedation (sedated, but awake),</p>
                </div>
            </div>

        </div>
        <div class="our__services__body-offer-services-booking">
            <img src="../../images/our-services-face-image.png" alt="face image">
            <button class="our__services__body-offer-services-booking-button-before-after">See Before & After Pictures</button>
            <button class="our__services__body-offer-services-booking-button-request-consult">Request Your Consultation</button>
        </div>
    </div>

</div>