<div class="before__after__body">

    <div class="before__after__body-background-image">
        <h1 class="before__after__body-background-image-heading">Before</h1>
        <h1 class="before__after__body-background-image-sub-heading">& After</h1>
        <button class="before__after__body-background-image-button">Request your consultation</button>
    </div>


    <div class="before__after__body-see-results">
        <h1>See Our Results</h1>
        <div>
            <p><b>View All</b></p>
            <p><b>|</b></p>
            <p>Filter By</p>
            <p><b>|</b></p>
            <p>Sort By</p>
        </div>
    </div>


    <div class="before__after__body-images-block">

        <!-- One -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Ear Reshaping</h1>

        </div>

        <!-- Two -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Eyelid</h1>

        </div>

        <!-- Three -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Nose Reshaping</h1>

        </div>

        <!-- Four -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Craniofacial & Pediatric Surgery</h1>

        </div>

        <!-- Five -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Chin Surgery</h1>

        </div>

        <!-- Six -->

        <div class="before__after__body-images-block-container">

            <div class="before__after__body-images-block-container-image">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-one">
                <img src="../../images/face-image.jpg" alt="" class="before__after__body-images-block-container-image-two">
            </div>
            <h1 class="before__after__body-images-block-container-p">Brow Lift</h1>

        </div>





    </div>

</div>