.before__after__body {
    &-background-image {
        background-image: linear-gradient(45deg, white, transparent), url("../../images/before-after-background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
        min-width: 100%;
        clip-path: ellipse(127% 88% at 50% 0%);
        @include flexColumn;
        justify-content: center;
        align-items: flex-start;
        padding-left: 120px;
        @include max-screen(md){
            padding-left: 20px;
        }
        &-heading {
            color: black;
            font-size: 60px;
            line-height: 0.8;
            font-weight: bold;
            @include max-screen(md){
                font-size: 40px;
            }
        }
        &-sub-heading {
            color: $red;
            font-size: 60px;
            font-weight: bold;
            @include max-screen(md){
                font-size: 40px;
            }
        }
        &-button {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            margin-top: 25px;
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
            background-color: white;
            border: 2px solid $red;
            @include max-screen(md){
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;

            }
        }
    }

    &-see-results {
        @include flexRow;
        justify-content: space-between;
        padding-left: 5%;
        text-align: center;
        align-items: center;
        align-content: center;
        padding-right: 5%;
        @include max-screen(md){
            flex-direction: column;
        }
        @include min-screen(sm){
          flex-direction: row;
        }

        h1 {
            color: $red;
            font-weight: bold;
            @include min-screen(sm){
               margin: 0;
            }
            margin-bottom: 20px;
        }
        div {
            @include flexRow;
            p {
                font-size: 17px;
                padding-right: 5px;
            }
        }
    }

    &-images-block {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;

        &-container {
            width: 50%;
            @include flexColumn;
            justify-content: space-between;

            &-image {
                padding-right: 10px;
                margin-top: 25px;
                margin-bottom: 25px;
                @include flexRow;
                align-items: center;
                align-content: center;
                justify-content: center;
                &-one {
                    width: 40%;
                    clip-path: circle();
                }
                &-two {
                    width: 50%;
                    margin-left: -80px;
                    clip-path: circle();
                    @include min-screen(xs){
                        margin-left: -20px;
                    }
                    @include min-screen(sm){
                        margin-left: -35px;
                    }
                    @include min-screen(md){
                        margin-left: -50px;
                    }
                    @include min-screen(lg){
                        margin-left: -80px;
                    }
                }
            }

            &-p {
                width: 100%;
                text-align: center;
                font-size: 25px;
                color: black;
                margin-bottom: 15px;
                font-weight: bold;
                @include max-screen(md){
                    font-size: 16px;
                }  @include min-screen(sm){
                    font-size: 20px;
                }
            }
        }
    }
}
