

.location__body {
    &__background-image {
        background-image: linear-gradient(90deg, white, transparent), url("../../images/location-background.png");
        width: 100%;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        @include flexColumn;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        padding-left: 5%;
        padding-right: 5%;
        clip-path: ellipse(127% 100% at 50% 0%);
        &-heading {
            font-size: 60px;
            color: $black;
            line-height: 0.7;
            @include breakpoint-between(xs,sm){
                font-size: 35px;
            }
        }
        &-sub-heading {
            font-size: 60px;
            color: $red; @include breakpoint-between(xs,sm){
                font-size: 35px;
            }
        }
        &-button {
            background-color: white;
            border: 1px solid $red;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            @include breakpoint-between(xs,sm){
               padding-left: 15px;
               padding-right: 15px;
               padding-top: 10px;
               padding-bottom: 10px;

            }
        }
    }

    &__page-location {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
        align-content: center;

        &-heading {
            font-size: 45px;
            color: $red;
            @include breakpoint-between(xs,sm){
                font-size: 35px;
                width: 100%;
            }
        }
        &-sortBtn {
            @include breakpoint-between(xs,sm){
                display: none;
            }
            font-size: 16px;
            color: $black;
        }
    }

    &__location-details {
        margin-top: 40px;
        @include flexRow;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;

        @include breakpoint-between(xs,md){
            justify-content: center;
        }

        &-container {
            @include flexColumn;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            box-shadow: 0px 3px 8px gray;
            margin-bottom: 50px;

            &-image-div {
                width: 100%;
                &-image{
                    object-fit: cover;
                    width: 100%;
                    box-shadow: 0 8px 6px -6px gray;
                }
                &-heading {
                    padding-left: 5%;
                    padding-right: 5%;
                    margin-top: 10px;
                    font-size: 20px;
                    color: $black;
                }
                &-address {
                    padding-left: 5%;
                    padding-right:5%;
                    margin-top: 5px;
                    line-height: 2;
                    white-space: pre-line;
                    font-size: 16px;
                }
                &-mobile-number {
                    padding-left: 5%;
                    padding-right: 5%;
                    font-size: 16px;
                    color: $red;
                    margin-top: 5px;
                    line-height: 2;
                    font-weight: bold;
                }
            }

            &-office-hours-div {
                width: 100%;
                background-color: whitesmoke;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 15px;
                padding-bottom: 15px;

                &-heading {
                    font-size: 20px;
                    color: $red;
                    margin-bottom: 10px;
                }

                &-time {
                    font-size: 16px;
                    line-height: 2;
                }
            }
        }
    }
}
