.location__contact__body {
    &__background-image {
        background-image: linear-gradient(90deg, white, transparent), url("../../images/location-background.png");
        width: 100%;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        @include flexColumn;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        padding-left: 5%;
        padding-right: 5%;
        clip-path: ellipse(127% 100% at 50% 0%);
        &-heading {
            font-size: 60px;
            color: $black;
            max-width: 70%;
            line-height: 1;
            @include breakpoint-between(xs, sm) {
                font-size: 35px;
            }
        }
        &-sub-heading {
            font-size: 60px;
            color: $red;
            @include breakpoint-between(xs, sm) {
                font-size: 35px;
            }
        }
        &-button {
            cursor: pointer;
            background-color: white;
            border: 1px solid $red;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            @include breakpoint-between(xs, sm) {
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    &-page-location {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 40px;
        &-heading {
            font-size: 40px;
            color: $red;
        }
        &-div {
            @include flexRow;
            justify-content: center;
            &-p {
                padding-right: 5px;
                font-size: 18px;
                color: $orange;
            }
        }
    }

    &-about-text {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
    }

    &-contact-details {
        @include flexRow;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        min-width: 100%;
        align-items: stretch;
        align-content: center;
        margin-bottom: 40px;

        &-div {
            margin-top: 40px;
            width: 48%;

            &-image {
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
                width: 100%;
            }
        }

        &-contact {
            width: 48%;
            @include flexColumn;
            margin-top: 40px;
            align-items: flex-start;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;

            &-heading{
                color: $red;
                font-size: 35px;
            }

            &-address {
                @include flexRow;
                justify-content: space-between;
                align-items: flex-start;
                &-div {
                    width: 48%;
                    &-heading {
                        color: $black;
                        font-size: 22px;
                        margin-bottom: 25px;
                    }
                    &-address {
                        font-size: 18px;
                        line-height: 1.8;
                    }
                    &-time {
                        font-size: 18px;
                        line-height: 1.8;
                        
                    }
                    &-contact-number {
                        font-size: 20px;
                        line-height: 1.8;
                        margin-top: 15px;
                        color: $red;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                }
            }

            &-button{
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                background-color: $red;
                border: none;
                color: $white;
                font-size: 18px;
            }

        }
    }
}
