.services_body {
    margin-left: 10%;
    margin-right: 10%;
    h1 {
        color: $cerrlean-frost;
        font-family: $bodoni;
        font-weight: 300;
        font-size: 48px;
        border-bottom: 1px solid $cerrlean-frost;
    }
    &_info {
        font-size: 18px;
        font-family: $openSans;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &_services_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        &_accordian_div {
            margin-top: 15px;
            border: 1px solid $cerrlean-frost;
            width: 100%;
            &_header {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
                &_head {
                    padding: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    align-content: center;
                    justify-content: space-between;
                    i {
                        cursor: pointer;
                        font-size: 28px;
                        color: $cerrlean-frost;
                    }
                    p {
                        font-weight: 400;
                        font-size: 22px;
                        color: $cerrlean-frost;
                    }
                }
            }
        }
        &_inner_content_div {
            display: none;
            padding-top: 15px;
            &_p {
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 400;
                font-size: 18px;
                margin-top: 15px;
            }
            a {
                float: right;
                padding-right: 20px;
                padding-bottom: 15px;
                text-align: end;
            }
        }
        //body div end flex 
    }
}