<div style="position: relative;">
    <div class="location_filter_div">
        <h1>Locations</h1>
        <i class="fa-solid fa-arrow-down-short-wide filterIcon"></i>
    </div>

    <div class="location_filter_div_filter">
        <div class="location_filter_div_filter_div_header">
            <h3>Sort By</h3>
            <i class="fa-solid fa-arrow-down-short-wide filterIconSymbol closeBtnForFilter"></i>
        </div>
        <div class="location_filter_div_filter_div_body">
            <p>Distance</p>
            <i class="fa-solid fa-circle-question"></i>
        </div>

        <div class="location_filter_div_filter_div_footer">
            <button class="closeBtnForFilter">Cancel</button>
            <p>|</p>
            <button class="closeBtnForFilter">Apply</button>
        </div>


    </div>



</div>

<div class="location_details">

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>
    </div>
    <br><br>

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>

    </div>
    <br><br>

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>
    </div>
    <br><br>

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>
    </div>

    <br><br>

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>
    </div>

    <br><br>

    <div>
        <p class="location_details_heading">St. Luke’s Plastic & Reconstructive Surgery - Allentown</p>
        <br>
        <p class="location_details_subtitlePara"> <i class="fa fa-location-arrow arrow_icon" aria-hidden="true"></i> &nbsp;501 Cetronia Road, Suite 135 Allentown, PA, 18104</p>
        <br>
        <p class="location_details_subtitlePara"><i class="fa fa-phone call_icon" aria-hidden="true"></i> &nbsp;484-526-1260</p>
    </div>

</div>