<div class="loc_header_main_div">
    <div class="loc_header_main_div_head">
        <img src="../../images/header-logo.png" alt="stLuke logo">
        <div class="loc_header_main_div_user_icon">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-circle-question"></i>
        </div>
    </div>
    <div class="loc_header_main_div_header_heading">
        <p>Plastic & Reconstrutive Surgery</p>
    </div>
    <div class="loc_header_main_div_header_about_div">
        <p>About</p>
        <p>Meet the Team</p>
        <p>Services</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
    <div class="loc_header_main_div_mobile_view_container">
        <div class="loc_header_main_div_header_about_div_mobile_view">

            <p class="loc_header_main_div_header_about_div_mobile_view_para">About</p>
            <p class="loc_header_main_div_header_about_div_mobile_view_para">Meet the Team</p>
            <p class="loc_header_main_div_header_about_div_mobile_view_para">Services</p>
            <p class="loc_header_main_div_header_about_div_mobile_view_para">Gallery</p>
            <p class="loc_header_main_div_header_about_div_mobile_view_para_last">Contact Us</p>
        </div>
        <div class="loc_header_main_div_menu_icon_div">
            <i class="fa-solid fa-bars loc_header_main_div_menu_icon"></i>
        </div>
    </div>
</div>