<div class="headerSection">
    <div class="header">
        <img src="../../images/header-logo.png" class="header_img">

        <div id="header_userDiv">
            <i class="fa-solid fa-user"></i>
            <img src="../../images/helpIcon.png" width="30px" height="30px">
        </div>

    </div>
    <div class="titleBelowHeaderAbout">
        <p>Plastic & Reconstructive Surgery</p>
        <div class="aboutDiv">
            <p>About</p>
            <p>Meet The Team</p>
            <p>Services</p>
            <p>Locations</p>
            <p>Gallery</p>
            <p>Contact Us</p>
        </div>
    </div>

</div>

<div class="heroImage">
    <img src="../../images/large-hero.png" class="heroImage_img">
</div>