<div class="contact_footer">



    <div class="contact_footer_comp_info">

        <!-- <h1>StLukes</h1> -->

        <img src="../../images/SLUHN_Logo.svg">



    </div>



    <div class="contact_footer_about">

        <p>About</p>

        <p>Meet The Team</p>

        <p>Services</p>

        <p>contacts</p>

        <p>Gallery</p>

        <p>Contact Us</p>

    </div>



</div>

<div class="contact_footer_bottom_links">

    <p>EOE</p>

    <p>Privacy</p>

    <p>Terms of Use</p>

    <p>Public Notice</p>

</div>