<!-- @@include('../../Components/about/abt-header/abt-header.html') @@include('../../Components/about/abt-doc-intro/abt-doc-intro.html') @@include('../../Components/about/abt-exp/abt-exp.html') @@include('../../Components/about/abt-footer/abt-footer.html')

-->



<div class="about__header">
    <div class="about__header__nav-div">
        <div class="about__header__nav-div-left-row">
            <div>
                <i class="fa-solid fa-bars"></i>
                <p>Menu</p>
            </div>
            <img src="../../images/header-logo.png" alt="header-logo" style="background-color: black;color: black;">

        </div>
        <div class="about__header__nav-div-right-row">
            <div>
                <i class="fa-solid fa-dollar-sign"></i>
                <p>Pay a bill</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <p>Make a gift</p>
            </div>
            <div>
                <i class="fa-solid fa-circle-user"></i>
                <p>Login</p>
            </div>
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>


    <div class="about__header__page-heading">
        <h4>Plastic & Reconstructive Surgery</h4>
    </div>

    <div class="about__header__nav-row">
        <p>About Us</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>

</div>


<div class="about__body">

    <div class="about__body__doctor-image">

        <h1 class="about__body__doctor-image-h1">Christopher</h1>
        <h1 class="about__body__doctor-image-h1-below">M. Sanders, MD</h1>
        <button class="about__body__doctor-image-consult-btn">Request your Consultation</button>

    </div>


    <div class="about__body__content-header">
        <h1>About</h1>
        <div class="about__body__content-header-bread-crump">
            <a href="#">About Us</a>
            <p>></p>
            <a href="#">Meet Our Team</a>
            <p>></p>
            <a href="#">Christopher M.Sanders, MD</a>
        </div>
    </div>

    <div class="about__body__content-body">
        <p>If there is one thing I want you to know about me, it's something very simple:
            I am going to take care of you. I will always treat every single patient like an
            individual, not a problem to be fixed or an illness to be treated. I pride myself
            in being a compassionate physician who will take great lengths to put my patient's
            needs first and let them know I am going to be there to support them on every step of their journey.</p>


        <p>I am a board-certified plastic surgeon and proud to say I first joined the St.
            Luke's family when I trained here in general surgery in 2007-2012 and am very
            excited to come back home in 2022 to join the department of Plastic and
            Reconstructive Surgery. After my training at St. Luke's, I continued training
            in plastic surgery at Louisiana State University, where I was fortunate enough
            to train with some of the "founding fathers"...of microsurgery, and world-renowned
            aesthetic surgeons. I specialize in all aspects of plastic surgery including reconstruction
            and aesthetics, both surgical and non-surgical. My particular areas of interest are
            microsurgical breast reconstruction, and body contouring after massive weight-loss.
            I have dedicated a large part of my clinical research in these areas to improve wound
            healing and outcomes in post-bariatric body contouring and breast cancer reconstruction
            patients. Of all my accomplishments, I am most proud to have received several awards
            for my clinical care of patients, both during my time here in training and beyond
            including a “Top Clinician" award as chosen by patients themselves.</p>


        <p>Outside of work, I enjoy playing guitar and video games with my
            two sons, while trying to maintain a healthy, active lifestyle.
            I am involved in several volunteer and charitable organizations for
            causes near and dear to me including Breast Cancer Awareness and
            helping individuals with special needs, particularly those on the Autism
            Spectrum. However, the thing I enjoy most outside of work is, obviously,
            spending time with my family,my two sons Jack and Reed, and my wife Jeanette,
            who always reminds me of the importance of kindness and caring for one another.</p>

    </div>

    <div class="about__body__doctor-intro">
        <div class="about__body__doctor-intro-thumbnail-div">
            <i class="fa-solid fa-play" id="playBtnVideo"></i>
        </div>
        <iframe id="iframeDocVideo" src="https://www.youtube.com/embed/6S_z6NEQ4y8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p>
            I love when to hear my patient's say,
            "you made me feel whole again," or "I finally see myself
            the way I've always wanted to." Whether it's giving a
            patient something back that's been taken from them, or
            giving them a sense of rejuvenation, it is a feeling
            that is unique to the practice of plastic surgery.
            It's what inspires me to help my patients look in
            the mirror with a sense of confidence about the person
            they see looking back.


        </p>
    </div>


    <div class="about__body__education-div">
        <h1>Education</h1>
        <div class="about__body__education-div-school-list">
            <div class="about__body__education-div-school-list-container-one">
                <div>
                    <p><b>Medical Schools</b></b></p>
                    <p>Boston University School of Medicine, 1992</p>
                    <p>Temple University School of Dentistry, 1988</p>
                </div>

                <div>
                    <p><b>Residencies</b></b></p>
                    <p>Lehigh Valley Health Network, 1997 - 2000</p>
                    <p>Lehigh Valley Health Network, 1993 - 1995</p>
                    <p>West Virginia University Charleston Medical Center, 1988 - 1989</p>
                </div>

            </div>
            <div class="about__body__education-div-school-list-container-two">
                <div>
                    <p><b>Internship</b></b></p>
                    <p>Lehigh Valley Health Network, 1992 - 1993</p>

                </div>

                <div>
                    <p><b>Fellowships</b></b></p>
                    <p>Children's Hospital of Orange County, 2000 - 2001</p>
                    <p>Childres's Hospital - Los Angels, 2000 - 2001</p>
                </div>

            </div>
        </div>
    </div>


    <div class="about__body__locations">
        <h1>Locations</h1>

        <div class="about__body__locations-container">

            <!-- Div One -->

            <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>


               <!-- Div Two -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>

               <!-- Div Three -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>


               <!-- Div Four -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>



               <!-- Div Five -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>


               <!-- Div Six -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>

               <!-- Div Seven -->

               <div class="about__body__locations-container-div">

                <div>
                    <p><b>Allentown</b></p>
                    <p>St. Luke's west End Medical Center</p>
                    <p>501 Cetronia Road, Suite 135</p>
                    <p>Allentown, PA, 18104</p>
                  
                    <p class="about__body__locations-container-div-phone-number">(485) 526-1260</p>
                </div>
                <div class="about__body__locations-container-div-office-hours">
                    <p><b>Office Hours</b></p>
                    <p>Monday :  8.30 AM - noon</p>
                    <p>Wednesday : 8.30 AM - noon</p>
                </div>

            </div>


            <!-- End -->

        </div>
    </div>

    
<div class="about__body__footer">


    <div class="about__body__footer-one">
        <div>
            <p class="about__body__footer-one-heading">866-STLUKES</p>
            <p class="about__body__footer-one-sub-heading">Ut sagittis, magna eget venenatis 
                convallis, nulla tortor dictum quam,
                 at dignissim est magna nec velit. 
                 Donec ultrices, arcuac vulputate 
                 malesuada, nibh erat maximus massa</p>
        </div>

        <div class="about__body__footer-one-social-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>

    <div class="about__body__footer-two">

        <div class="about__body__footer-two-company-links">
            <div class="about__body__footer-two-company-links-style">
                <div>
                    <p>RESOURCES</p>
                </div>
                <div>
                    <p>Bill Pay</p>
                    <p>MyChart</p>
                    <p>Visitation Policy</p>
                    <p>Pharmacy</p>
                </div>
            </div>

            <div class="about__body__footer-two-company-links-style">
                <div>
                    <p>COMMUNITY</p>
                </div>
                <div>
                    <p>Support</p>
                    <p>Veterans</p>
                    <p>Volunteer</p>
                    <p>Way To Give</p>
                </div>
            </div>

            <div class="about__body__footer-two-company-links-style">
                <div>
                    <p>ABOUT</p>
                </div>
                <div>
                    <p>For Employees</p>
                    <p>History</p>
                    <p>Leadership</p>
                    <p>Values</p>
                </div>
            </div>
        </div>

        <div class="about__body__footer-two-vendor-links">
            <p>Vendors</p>
            <p>|</p>
            <p>EOE</p>
            <p>|</p>
            <p>Privacy</p>
            <p>|</p>
            <p>Public Notice</p>
            <p>|</p>
            <p>Terms of Use</p>
        </div>

    </div>

    <div class="about__body__footer-three">
        
        <div class="about__body__footer-three-container-one">
            <p class="about__body__footer-three-container-one-heading">CAREERS</p>
        <p class="about__body__footer-three-container-one-sub-heading">
        convallis, nulla tortor dictum quam,
        at dignissim est magna nec velit. 
        Donec ultrices, arcuac vulputate 
        malesuada, nibh erat maximus massa</p>
        </div>

        <div class="about__body__footer-three-container-two">
        <button>Work with us!</button>

        <p>copyright 2022 St.Luke's. All rights reserved.br<br>
        Headquartered in Bethlehem, Pennsylvania</p>
       </div>
    </div>


</div>