<div class="imageDiv">

</div>

<div class="header_container">
    <div class="header_container_header">
        <img src="../../../images/header-logo.png">
        <div>
            <i class="fa-solid fa-user"></i>
            <img src="../../../images/question_mark.png" class="questionMarkImg">
        </div>
    </div>
    <h1>Plastic & Reconstructive Surgery</h1>
    <div class="header_container_services">
        <p>About</p>
        <p>Meet The Team</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
    <div class="header_container_services_mobile_view">
        <p>About</p>
        <p>Meet The Team</p>
        <p>Services</p>
        <p>Locations</p>
        <p>Gallery</p>
        <p>Contact Us</p>
    </div>
    <div class="header_container_mobile_toggel">

        <i class="fa-solid fa-bars"></i>
    </div>
</div>