<div class="location__contact__body">

    <div class="location__contact__body__background-image">
        <h1 class="location__contact__body__background-image-heading">St. Luke's Plastic & Reconstructive Surgery
            <b>-</b>
        </h1>
        <h1 class="location__contact__body__background-image-sub-heading">Bethlehem</h1>
        <button class="location__contact__body__background-image-button">Request your consultation</button>
    </div>


    <div class="location__contact__body-page-location">
        <h1 class="location__contact__body-page-location-heading">Information About Location</h1>
        <div class="location__contact__body-page-location-div">
            <p class="location__contact__body-page-location-div-p">Locations</p>
            <p class="location__contact__body-page-location-div-p">/</p>
            <p class="location__contact__body-page-location-div-p"><b>Bethlehem</b></p>
        </div>
    </div>

    <p class="location__contact__body-about-text">
        Our fellowship trained plastic and reconstructive surgeons are skilled in providing advanced procedures for men,
        women and children. Whether you want to
        restore what injury or illness took away, correct a birth defect or minimalize the effect of age, we will work
        with you to help you achieve your desired results. Our
        goal is to help you look, function and feel your best.

    </p>

    <p class="location__contact__body-about-text">
        St. Luke's Plastic & Reconstructive Surgery is part of St. Luke's University Health Network, the leading
        provider of primary and specialty care in the greater Lehigh
        Valley and Warren County, New Jersey. We work closely with specialists in nearly every area of medicine
        especially oncologists and orthopedic, bariatric and
        trauma surgeons- to ensure vour health and safety anda gratifving experience.
    </p>


    <div class="location__contact__body-contact-details">

        <div class="location__contact__body-contact-details-div">
            <img src="../../images/loc-two.png" alt="location image"
                class="location__contact__body-contact-details-div-image">
        </div>

        <div class="location__contact__body-contact-details-contact">
            <h1 class="location__contact__body-contact-details-contact-heading">Contact Info & Location Details</h1>
            <div class="location__contact__body-contact-details-contact-address">
                <div class="location__contact__body-contact-details-contact-address-div">
                    <h1 class="location__contact__body-contact-details-contact-address-div-heading">Address:</h1>
                    <p class="location__contact__body-contact-details-contact-address-div-address">74 West Broad Street,
                        Suite 170
                        Bethlehem, PA, 18018
                    </p>
                    <p class="location__contact__body-contact-details-contact-address-div-contact-number"> (484)
                        526-1260</p>
                </div>

                <div class="location__contact__body-contact-details-contact-address-div">
                    <h1 class="location__contact__body-contact-details-contact-address-div-heading">Office Hours:</h1>
                    <p class="location__contact__body-contact-details-contact-address-div-time">Monday- Thursday: 8:30 AM
                        - 5:00 PM</p>
                    <p class="location__contact__body-contact-details-contact-address-div-time">Friday: 8:30 AM - 4:00 PM
                    </p>
                </div>
            </div>
            <button class="location__contact__body-contact-details-contact-button">Request Your Consultation</button>
        </div>
    </div>

</div>