<div class="patient__story__jamie">

    <div class="patient__story__jamie-background-image">
        <h1 class="patient__story__jamie-background-image-heading">Hear Patient</h1>
        <h1 class="patient__story__jamie-background-image-sub-heading">Stories: Jaime Paterson</h1>
        <button class="patient__story__jamie-background-image-button">Request your consultation</button>
    </div>


    <div class="patient__story__jamie-service">
        <h1>Service: Lower Body Lift</h1>

        <div>
            <p>About Us</p>
            <p>/</p>
            <p>Patient Stories</p>
            <p>/</p>
            <p><b>Jaime Paterson</b></p>
        </div>
    </div>


    <div class="patient__story__jamie-service-details">
        <div class="patient__story__jamie-service-details-p">
            <p>Etiam finibus maximus libero, quis eleifend turpis laoreet sit amet. Nullam ac tincidunt felis. Integer
                blandit nulla eget mollis iaculis. Aliquam cursus magna at tincidunt fringilla. Morbi molestie, sapien
                ac
                lacinia convallis, lectus ante varius odio, vel viverra erat arcu quis tortor. Nam vestibulum convallis
                molestie. Pellentesque tristique vehicula neque, tincidunt imperdiet risus sodales at. Sed vehicula dui
                lectus, a dapibus dolor condimentum eu. Integer pretium lobortis volutpat. Sed fringilla lorem nec nisi
                efficitur, eget lobortis eros congue.

            </p>

            <p>In laoreet lorem vitae sodales vulputate. Vestibulum interdum dolor in placerat maximus. Nunc iaculis
                metus eu mauris rutrum scelerisque. Integer condimentum nibh at turpis blandit sagittis. Vivamus
                porttitor, diam a ultricies pretium, est enim dapibus magna, eget dictum sem tortor quis neque.
                Aenean quis lectus vestibulum, laoreet nisi in, commodo ex. Nullam blandit ante diam, non sollicitudin
                nunc tempus nec. Nulam mattis risus eu posuere suscipit. Suspendisse a finibus odio, volutpat viverra
                arcu. Nullam eu dignissim massa. Sed et diam elementum, molestie dui sed, suscipit ligula. Praesent sit
                amet ligula nisl. Vestibulum faucibus arcu non nibh blandit luctus. Ut placerat, orci a hendrerit
                vestibulum, tortor sem varius libero, tincidunt aliquam augue leo sit amet metus. Nunc a viverra nisi,
                sed tempor risus. Nunc efficitur risus a est accumsan, vel condimentum erat ullamcorper.</p>

            <p> Curabitur libero nibh, maximus nec gravida sit amet, convallis a tellus. Phasellus vel tristique ex. Nam
                at felis aliquet tortor eleifend interdum. Maecenas sit amet libero quam. In sollicitudin iaculis urna
                ut
                dignissim. Suspendisse ullamcorper leo dui, in elementum est venenatis ac. Mauris blandit volutpat
                tellus, at pharetra ante. Fusce ullamcorper ut quam sit amet portitor. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Duis eget tortor arcu.</p>
        </div>

        <div class="patient__story__jamie-service-details-image-container">
            <img src="../../images/jaime-image.png" alt="jaime image">
            <button class="patient__story__jamie-service-details-image-container-button-picture">See More Before & After Pictures</button>   
            <button class="patient__story__jamie-service-details-image-container-button-request-consult">Request Your Consultation</button>  
        </div>


    
    </div>


    <div class="patient__story__jamie-surgery-images">
        <img src="../../images/surg-one.png" alt="surgery image">
        <img src="../../images/surg-two.png" alt="surgery image">
        <img src="../../images/surg-three.png" alt="surgery image">
        <img src="../../images/surg-four.png" alt="surgery image">
    </div>

</div>